<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Frodo, the dog</title>
  </head>
  <body>
    <h1>Photos</h1>
    <div class="flex">
      <img class="pictures" src="/images/Fofo01.png" />
      <img class="pictures" src="/images/Fofo02.png" />
      <img class="pictures" src="/images/Fofo03.png" />
    </div>
    <a class="button" href="http://localhost:3000/">Home</a>
  </body>
</html>
